.post {
  margin: 10px;
}

.post-title {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin: 6px;
  padding: 6px;
  display: flex;
}

.post-content {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin: 6px;
  padding: 6px;
  display: flex;
}