.post-item {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin: 6px;
  padding: 6px;
  display: flex;
}

.title {
  flex-grow: 2;
}

.post-buttons {
  display: flex;
}

.badge-pill {
  cursor: pointer;
  margin-right: 10px;
}

.delete-button {
  background: red;
  color: white;
}

.edit-button {
  background: green;
  color: white;
}
